$search-bar-height: 35px;

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 80px;
  margin: 20px auto;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.card {
  height: 375px;
  padding: 20px;
  min-width: 100px;
  max-width: 300px;
  border: 4px solid black;
  background-color: darkgray;
  border-radius: 12px;
  border-color: white;
  background-color: rgba(darkgray, 0.75);
  margin: 0;
  color: #000;

  @media (max-width: 1700px) {
    flex-basis: 23%;
    max-width: 100%;
  }

  @media (max-width: 1200px) {
    flex-basis: 31%;
  }

  @media (max-width: 1071px) {
    flex-basis: 48%;
  }

  @media (max-width: 554px) {
    flex-basis: 100%;
    height: auto;
    padding: 10px;

    .card-img-wrapper {
      height: 130px;
    }
    .card-title {
      font-size: 22px;
    }
    .card-description {
      font-size: 18px;
    }
  }

  img {
    height: 100%;
  }
}

.link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  color: #000;
}

.card-img-wrapper {
  height: 150px;
  text-align: center;
}

.search-field {
  padding: 10px 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 8px;
  height: $search-bar-height;
  margin-left: auto;
  width: 280px;
  max-width: 100%;
  background: url(~/src/assets/svg/search_icon.svg) no-repeat;
  background-position: 97% center;
  background-color: white;
  outline: 0;
  padding-right: 38px;
}

.cards-collection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.page-selector-wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 0 auto 32px;

  @media (max-width: 677px) {
    margin: 0 0 20px;
  }
}

.page-selector {
  height: $search-bar-height;
  border-radius: 8px;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #007ba7;
  margin: 0 4px;
  text-align: center;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 679px) {
    padding: 12px;
    width: $search-bar-height / 2;
    height: $search-bar-height / 2;
  }

  &[disabled] {
    background: lightblue;
    border-color: white;
    color: white;
    cursor: default;
  }
}

.card-title {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

.beer-img-wrapper {
  height: 300px;
}

.beer-title {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

.beer-collection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  
}